.navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding-left: 1rem;
    min-width: fit-content;
}


@media screen and (max-width: 1023px){
.navbar-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}}